################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DbOperationsWithEfCore/FileContentIndex/5d6176d2-ce9f-4e40-a583-4cb6712ae0b4.vsidx
/.vs/DbOperationsWithEfCore/FileContentIndex/5d6176d2-ce9f-4e40-a583-4cb6712ae0b4.vsidx
/.vs/DbOperationsWithEfCore/FileContentIndex
/.vs/DbOperationsWithEfCore/FileContentIndex/1c184b6f-a82f-46cf-8c07-73e6d38c45ce.vsidx
/.vs/DbOperationsWithEfCore/FileContentIndex/1da0b326-6599-44c0-bf93-42efcdf1e0a5.vsidx
/.gitignore
/.gitignore
